<!doctype html>
<html lang="en">

<head>
  <title>Tempost - Register</title>
  <link rel="icon" href="images/logo.png" type="image/icon type">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="css/tempost.css" rel="stylesheet">
  <link href="css/fonts.css" rel="stylesheet">
</head>

<body>
  <div class="vh-100">
    <header class="navbar navbar-expand-lg sticky-top bg-info">
      <nav class="container-xxl flex-wrap flex-lg-nowrap justify-content-center">
        <a class="navbar-brand p-0" href="/" title="Tempost">
          <img src="images/logo.png" class="navbar-logo">
        </a>
      </nav>
    </header>
    <div id="register_card" class="card card-shadow card-round p-3 col-11 border-0 bg-info">
      <div class="fs-1 mb-2 headtitle">Welcome To Tempost!</div>
      <form action="/register" method="post" class="container">
        <div class="row">
          <label for="username">Basic information:</label>
          <input id="username" name="username" name="username" type="text"
            class="form-control m-3 border-1 border-black" placeholder="Username"
            onkeydown="return /[a-z0-9_]/i.test(event.key)" style="width: 20%;" required autocomplete="username">
          <input id="first_name" name="first_name" type="text" class="form-control m-3 border-1 border-black"
            placeholder="First name" onkeydown="return /[a-z ]/i.test(event.key)" style="width: 18%;"
            autocomplete="given-name" required>
          <input id="last_name" name="last_name" type="text" class="form-control m-3 border-1 border-black"
            placeholder="Last name" onkeydown="return /[a-z ]/i.test(event.key)" style="width: 18%;"
            autocomplete="family-name" required>
          <input id="email" name="email" type="email" class="form-control m-3 w-25 border-1 border-black"
            placeholder="Email address" required autocomplete="email">
        </div>
        <div class="row">
          <label for="birthday">Birthday:</label>
          <input id="birthday" name="birthday" type="date" class="form-control m-3 w-25 border-1 border-black" required>
        </div>
        <div class="row">
          <label for="location-input">Address:</label>
          <input id="location-input" name="street_address" type="text" placeholder="Address"
            class="form-control m-3 w-50 border-1 border-black" autocomplete="street-address" required />
          <input id="locality-input" name="city" type="text" placeholder="City"
            class="form-control m-3 w-25 border-1 border-black" required />
          <input id="administrative_area_level_1-input" name="state_province" type="text" placeholder="State/Province"
            class="form-control m-3 w-25 border-1 border-black" />
          <input id="country-input" name="country" type="text" placeholder="Country"
            class="form-control m-3 w-25 border-1 border-black" autocomplete="country" required />
        </div>
        <div class="row">
          <label for="password">Please enter password twice for validation:</label>
          <input id="password" name="password" type="password" class="form-control m-3 w-25 border-1 border-black"
            placeholder="Password" onkeydown="return /[a-z0-9_!@#$%^&*-=+ ]/i.test(event.key)" required>
          <input id="redo_password" name="redo_password" type="password"
            class="form-control m-3 w-25 border-1 border-black" placeholder="Check password"
            onkeydown="return /[a-z0-9_!@#$%^&*-=+ ]/i.test(event.key)" required>
        </div>
        <div class="row">
          <label for="security_question">Please enter choose a security in case you forget your password:</label>
          <select id="security_question" name="security_question" class="form-select m-3 w-auto border-1 border-black"
            required>
            <option value=""></option>
            <option value="Who's your favorite music artist?">Who's your favorite music artist?</option>
            <option value="What's your favorite song?">What's your favorite song?</option>
            <option value="What was the first concert you atteneded?">What was the first concert you atteneded?</option>
            <option value="What's your mother's previous surename?">What's your mother's previous surename?</option>
            <option value="What's the name of your pet?">What's the name of your pet?</option>
            <option value="What's your most common nickname?">What's your most common nickname?</option>
            <option value="What's your elementry's school name?">What's your elementry's school name?</option>
          </select>
          <input id="security_answer" name="security_answer" type="text"
            class="form-control m-3 w-50 border-1 border-black" placeholder="Answer" required>
        </div>
        <div class="row">
          <button id="create_account" type="submit" class="btn btn-outline-dark m-3 w-auto btn-light text-dark">Create
            Account</button>
        </div>
      </form>

      <div id="server_message" class="text-black"></div>
      <div id="error_message" class="text-danger"></div>

      <div class="container p-3">
        Already have an account? <a href="/login">Sign in</a>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script src="scripts/register.js" apiKey="<%= apiKey %>"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&libraries=places&callback=initMap&solution_channel=GMP_QB_addressselection_v1_cABC"
    async defer></script>
  <script src="scripts/after_submit.js"></script>
</body>

</html>