<!doctype html>
<html lang="en">

<head>
    <title>Tempost - Reset Password</title>
    <link rel="icon" href="images/logo.png" type="image/icon type">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="css/tempost.css" rel="stylesheet">
    <link href="css/fonts.css" rel="stylesheet">
</head>

<body>
    <div class="vh-100">
        <header class="navbar navbar-expand-lg sticky-top bg-info">
            <nav class="container-xxl flex-wrap flex-lg-nowrap justify-content-center">
                <a class="navbar-brand p-0" href="/" title="Tempost">
                    <img src="images/logo.png" class="navbar-logo">
                </a>
            </nav>
        </header>
        <div class="p-3 d-flex align-items-center text-center">
            <div class="col-4"></div>
            <div class="card card-shadow card-round p-3 col-4 border-0 bg-info">
                <div class="fs-1 mb-2 headtitle">Reset Password</div>
                <form action="/reset_pass" method="post" class="container">
                    <input id="username" name="username" type="text" class="form-control mb-3 border-1 border-black"
                        placeholder="Username" onkeydown="return /[a-z0-9_]/i.test(event.key)" required
                        autocomplete="username">
                    <input id="email" name="email" type="email" class="form-control mb-3 border-1 border-black"
                        placeholder="Email address" required autocomplete="email">
                    <button type="submit" class="btn btn-outline-dark btn-light text-dark">Next</button>
                </form>
                <div id="server_message" class="text-black"></div>
                <div id="error_message" class="text-danger"></div>
                <div class="container p-3">
                    Remember your password? <a href="/login">Back to log in</a>
                    <br>
                    Don't have an account yet? <a href="/register">Join us!</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="scripts/after_submit.js"></script>
</body>

</html>