<link rel="stylesheet" href="/css/home.css" />

<div id="top" class="container">
    <div class="page-name h4">Dashboard</div>
    <div id="error_message" class="text-danger-color"></div>
    <div id="success_message" class="text-success-color"></div>
    <div id="loading_message"></div>
</div>

<div class="container my-4">
    <div id="charts-container" class="row"></div>
    <button
        id="add-chart-btn"
        class="btn btn-main mt-4"
        data-bs-toggle="modal"
        data-bs-target="#chartModal"
    >
        Add Chart
    </button>
</div>

<div
    class="modal fade"
    id="chartModal"
    tabindex="-1"
    aria-labelledby="chartModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title-container d-flex flex-column me-auto">
                    <h5 class="modal-title" id="chartModalLabel">Create Chart</h5>
                    <small id="modal_error" class="modal-subtitle text-danger-color">
                    </small>
                </div>
                
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer d-flex justify-content-end">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Close
                </button>
                <button
                    id="createChart"
                    type="submit"
                    class="btn btn-main"
                >
                    Create Chart
                </button>
            </div>
        </div>
    </div>
</div>

<script src="/scripts/home.js"></script>
