<link rel="stylesheet" href="/css/policy.css" />
<div id="top" class="container">
    <div class="page-name h4">Policy</div>
    <div id="error_message" class="text-danger-color"></div>
    <div id="success_message" class="text-success-color"></div>
    <div id="loading_message"></div>
</div>
<div class="container">
    <table id="modules_table" class="table table-static-color">
        <tbody>
            <!-- Rows will be populated here by jQuery -->
        </tbody>
    </table>
</div>
<div id="apply-changes-area" class="container position-relative"></div>

<!-- Generic modal for blacklist -->
<div
    id="blacklistFieldModal"
    class="modal fade"
    tabindex="-1"
    aria-labelledby="listPopupLabel"
    aria-hidden="true"
    role="dialog"
>
    <div
        class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
        role="document"
    >
        <div class="modal-content">
            <div
                class="modal-header d-flex align-items-center justify-content-between"
            >
                <div class="modal-title-container d-flex flex-column me-auto">
                    <h5 class="modal-title">List Editor</h5>
                    <small id="list-counter" class="modal-subtitle text-muted">
                    </small>
                </div>
                <button
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <input
                        type="text"
                        id="newListValueInput"
                        class="form-control"
                        placeholder="Enter a new value"
                    />
                    <button class="btn btn-main mt-2 add-value-btn">
                        Add Value
                    </button>
                </div>
                <ul id="blacklistValues" class="list-group">
                    <!-- Entries will be populated here by jQuery -->
                </ul>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for the countries blacklist -->
<div
    class="modal fade"
    id="blacklistCountriesModal"
    tabindex="-1"
    aria-labelledby="countryModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title-container d-flex flex-column me-auto">
                    <h5 class="modal-title" id="countryModalLabel">
                        Select Countries
                    </h5>
                    <small
                        id="list-counter-countries"
                        class="modal-subtitle text-muted"
                    >
                    </small>
                </div>

                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <input
                    type="text"
                    id="countrySearch"
                    class="form-control"
                    placeholder="Search for a country"
                />

                <ul id="countryList" class="list-group mt-3">
                    <!-- Dynamically generated country list will appear here -->
                </ul>

                <hr />

                <h6>Selected Countries:</h6>
                <ul id="selectedCountries" class="list-group">
                    <!-- Dynamically added selected countries will appear here -->
                </ul>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<script src="/scripts/policy.js"></script>
