<link rel="stylesheet" href="/css/policy.css" />
<div id="top" class="container">
    <div class="page-name h4">Policy</div>
</div>
<div class="container">
    <div>
        <table id="modules_table" class="table table-info">
            <tbody>
                <!-- Rows will be populated here by jQuery -->
            </tbody>
        </table>
    </div>
</div>
<script src="/scripts/policy.js"></script>
