<link rel="stylesheet" href="/css/policy.css" />
<div id="top" class="container">
    <div class="page-name h4">Policy</div>
    <div id="error_message" class="text-danger-color"></div>
    <div id="success-message" class="text-success-color"></div>
    <div id="loading-message"></div>
</div>
<div class="container">
    <table id="modules_table" class="table table-static-color">
        <tbody>
            <!-- Rows will be populated here by jQuery -->
        </tbody>
    </table>
</div>
<div id="apply-changes-area" class="container position-relative"></div>
<script src="/scripts/policy.js"></script>
