<div id="top" class="container">
    <div id="quick_search_side" class="col-4">
        <div class="page-name h4">Data Search</div>
        <div
            class="search-box-container d-flex align-items-center rounded-5 border border-1 border-dark-subtle my-4 py-1 px-2"
        >
            <i class="fas fa-search mx-1 text-body"></i>
            <input
                name="quickSearch"
                type="text"
                class="search-input vw-100 border border-0"
                placeholder="Quick Search"
            />
        </div>
    </div>
</div>
<div id="table-area">
    <div id="error_message" class="text-danger"></div>
    <div id="loading-message"></div>
    <div class="container">
        <div class="table-responsive">
            <table
                id="emails_table"
                class="table table-hover table-striped table-info"
            ></table>
        </div>
    </div>
    <script src="/scripts/search.js"></script>
</div>
