<link rel="stylesheet" href="/css/search.css" />
<div id="top" class="container">
    <div id="quick_search_side" class="col-4">
        <div class="page-name h4">Data Search</div>
        <div
            class="search-box-container d-flex align-items-center rounded-5 border border-1 border-dark-subtle my-4 py-1 px-2"
        >
            <i class="fas fa-search mx-1 text-body"></i>
            <input
                id="search-input"
                name="quickSearch"
                type="text"
                class="search-input vw-100 border border-0"
                placeholder="Quick Search"
            />
        </div>
    </div>
    <button
        id="customize-table"
        class="bg-info rounded-circle border border-0 position-absolute"
        title="Customize Table"
    >
        <i class="fas fa-edit"></i>
    </button>
    <div id="popup" class="popup rounded">
        <div class="popup-header">
            <span>Customize Table</span>
            <button id="close-popup" class="close-popup">&times;</button>
        </div>
        <div class="popup-content">
            <p>Select and Reorder Columns:</p>
            <ul id="sortable-columns" class="list-group">
                <ul id="sortable-columns" class="list-group">
                    <!-- Columns will be dynamically added here -->
                </ul>
            </ul>
            <button id="apply-changes" class="btn btn-primary mt-3">
                Apply Changes
            </button>
        </div>
    </div>
</div>
<div id="table-area" class="container">
    <div id="error_message" class="text-danger"></div>
    <div id="loading-message"></div>
    <div class="table-responsive">
        <table
            id="emails_table"
            class="table table-hover table-striped table-info"
        ></table>
    </div>
    <script src="/scripts/search.js"></script>
</div>
