<link rel="stylesheet" href="/css/search.css" />
<div id="top" class="container">
    <div id="quick_search_side" class="col-4">
        <div class="page-name h4">Data Search</div>
        <div
            class="search-box-container d-flex align-items-center rounded-5 border border-1 border-dark-subtle my-4 py-1 px-2"
        >
            <i class="fas fa-search mx-1 text-body"></i>
            <input
                id="search-input"
                name="quickSearch"
                type="text"
                class="search-input vw-100 border border-0"
                placeholder="Quick Search"
            />
        </div>
    </div>
    <button
        id="customize-table"
        class="btn help-button has-popup btn-main"
        title="Customize Table"
        data-popup-id="columns-popup"
    >
        <i class="fas fa-edit"></i>
    </button>
    <button
        id="date-filter"
        class="btn help-button has-popup btn-main"
        title="Select Range"
        data-popup-id="date-popup"
    >
        <i class="fa-solid fa-calendar"></i>
    </button>
    <div id="columns-popup" class="popup">
        <div class="popup-header">
            <span>Customize Table</span>
            <button class="close-popup">&times;</button>
        </div>
        <div class="popup-content">
            <input
                type="text"
                id="columns-search"
                class="form-control mb-2"
                placeholder="Search columns..."
            />
            <div class="form-check mb-2">
                <input
                    type="checkbox"
                    class="form-check-input"
                    id="select-all-columns"
                />
                <label class="form-check-label" for="select-all-columns"
                    >Select All</label
                >
            </div>
            <ul id="columns-list" class="list-group">
                <!-- Columns will be dynamically added here -->
            </ul>
            <button id="apply-column-changes" class="btn btn-main mt-3">
                Apply Changes
            </button>
        </div>
    </div>
    <div id="date-popup" class="popup">
        <div class="popup-header">
            <span>Select Date Range</span>
            <button class="close-popup">&times;</button>
        </div>
        <div class="popup-content">
            <label for="from-date">From:</label>
            <input type="datetime-local" id="from-date" class="form-control" />
            <label for="to-date">To:</label>
            <input type="datetime-local" id="to-date" class="form-control" />
            <div
                id="date-buttons-container"
                class="d-flex justify-content-between"
            >
                <button id="apply-date-filter" class="btn btn-main mt-2">
                    Apply
                </button>
                <button id="clear-date-filter" class="btn btn-empty border mt-2">
                    Clear
                </button>
            </div>
        </div>
    </div>
</div>
<div id="table-area" class="container">
    <div id="error_message" class="text-danger-color"></div>
    <div id="loading-message"></div>
    <div class="table-responsive">
        <table
            id="emails_table"
            class="table table-hover table-striped table-dynamic-color"
        ></table>
    </div>
    <script src="/scripts/search.js"></script>
</div>
