<link rel="stylesheet" href="/css/settings.css" />
<div id="top" class="container">
    <div class="page-name h4">Settings</div>
    <div id="error_message" class="text-danger-color"></div>
    <div id="success-message" class="text-success-color"></div>
    <div id="loading-message"></div>
</div>
<div class="container">
    <div class="settings-section-title">User Management</div>
    <hr>
    <table id="users_table" class="table table-static-color">
        <tbody>
            <!-- Rows will be populated here by jQuery -->
        </tbody>
    </table>
</div>
<script src="/scripts/settings.js"></script>