body {
    min-width: 650px;
    min-height: 580px;
    font-family: "klavika";
}

.navbar-logo {
    height: 40px;
    width: 40px;
    transition-duration: 1s;
}

.navbar-logo:hover {
    transform: rotate(360deg);
}

.card-round {
    border-radius: 30px;
}

.card-shadow {
    box-shadow: 5px 5px 15px grey;
}

.headtitle {
    font-weight: bold;
}