:root {
    --navbar_width: 60px;
    --navbar_expanded_width: 200px;
}

body {
    min-width: 650px;
    min-height: 580px;
    font-family: "klavika";
}

#sidebar-navbar {
    width: var(--navbar_width);
    transition: margin-left 0.3s, width 0.3s;
    z-index: 10;
}

#sidebar-navbar.expanded {
    width: var(--navbar_expanded_width);
}

header {
    transition: margin-left 0.3s, width 0.3s;
}

.header-logo {
    height: 40px;
    width: 40px;
    transition-duration: 1s;
}

.header-logo:hover {
    transform: rotate(360deg);
}

.main-content {
    margin-left: var(--navbar_width);
    width: calc(100% - var(--navbar_width));
    transition: margin-left 0.3s, width 0.3s;
    z-index: 1;
}

.navbar.expanded ~ .main-content {
    margin-left: var(--navbar_expanded_width); /* Account for the expanded width of the navbar */
    width: calc(100% - var(--navbar_expanded_width)); /* Fill the remaining width when expanded */
}

.nav-btn {
    font-size: 24px;
    color: black;
}

.app-name {
    font-size: 24px;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile-name {
    font-weight: bold;
}

.profile-role {
    font-size: 12px;
}