body {
    min-width: 650px;
    min-height: 580px;
    font-family: "klavika";
}

#sidebar-navbar {
    width: 60px;
    transition: width 0.3s;
}

#sidebar-nabar.expanded {
    width: 200px;
}

header {
    transition: width 0.3s;
}

.header-logo {
    height: 40px;
    width: 40px;
    transition-duration: 1s;
}

.header-logo:hover {
    transform: rotate(360deg);
}

.main-content {
    margin-left: 60px; /* Account for the width of the navbar */
    transition: margin-left 0.3s, width 0.3s;
}

.navbar.expanded ~ .main-content {
    margin-left: 200px; /* Account for the expanded width of the navbar */
    width: calc(100% - 200px); /* Fill the remaining width when expanded */
}