:root {
    --popup-distance: 110;
}

.search-input {
    outline: none;
}

#top {
    position: relative;
}

.help-button {
    background-color: #0dcaf0; /* bg-info */
    border-radius: 50%; /* rounded-circle */
    border: none; /* border-0 */
    position: absolute; /* position-absolute */
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 50;
    transition: background-color 0.2s ease;
}

.help-button:active {
    background-color: #117a8b; /* Darker shade of bg-info */
}

#customize-table {
    right: 10px;
}

#date-filter {
    right: 70px;
}

.filter-button {
    border-radius: 10%;
    outline: none;
}

.filter-applied {
    background-color: white; /* Adjust color as needed */
}

.popup {
    display: none; /* Initially hidden */
    border-radius: 10%; /* rounded-circle */
    position: absolute;
    top: calc(50% + 80px);
    transform: translateY(-50%);
    width: 250px; /* Set the width of the popup */
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 60; /* Ensure the popup is above other elements */
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.close-popup {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.popup-content {
    max-height: 200px;
    overflow-y: auto; /* Add scrolling if the content exceeds max height */
}

#sortable-columns {
    padding-left: 0;
}

#sortable-columns li {
    cursor: move;
    align-items: center;
    justify-content: space-between;
}

.sortable-placeholder {
    background-color: #f0f0f0;
    border: 1px dashed #ddd;
    height: 2em;
    margin-bottom: 10px;
}

.checkbox-column {
    margin-right: 10px;
}

th {
    position: relative;
}
.header-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}
.header-button i {
    margin-left: 5px;
}

.table-responsive {
    overflow-x: auto;
    overflow-y: visible; /* Allows popups to be visible above the table */
    white-space: nowrap; /* Prevent columns from adjusting to screen size */
}

.table th, .table td {
    min-width: 150px; /* Adjust the minimum width of your columns as needed */
}

.table thead th {
    position: relative; /* Ensures the filter button within the header is positioned correctly */
}